/* Fonts and Typography */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-roman.otf') format('opentype');
  font-weight: 100 900;
  /* https://rsms.me/inter/ */
}

/*---------------------------------------------------------*/

body {
  color:#000;
}

body, input, select, textarea, button {
  font-family: var(--sans);
  font-size: var(--txt-base);
  line-height: 1.5;
  font-weight: 350;
}

b,strong {
  font-weight: 600;
}

h1,h2,h3,h4,h5,h6 { 
  font-weight: bold; 
}

:is(p, ul, ol, details, dl) + :is(h2, h3, h4, h5, h6) {
  margin-top: 2rem;
}

/* Drop Caps */

.has-drop-cap:not(:focus):first-letter,
.nctext-dropcap .nctext_paragraphs > p:first-of-type::first-letter {
  --cap-size: 5.4em;
  --cap-color: currentColor;
  --cap-font: inherit;
  --cap-weight: 500;
  --cap-lines: 3;
}

/* this class is used for native WP blocks */
.has-drop-cap:not(:focus):first-letter,
/* this class is used for Text Columns block */
.nctext-dropcap .nctext_paragraphs > p:first-of-type::first-letter {
  float: left;
  font-family: var(--cap-font);
  font-size: var(--cap-size);
  font-weight: var(--cap-weight);
  line-height: .68;
  margin: .05em .1em 0 0;
  text-transform: uppercase;
  color: var(--cap-color);
  initial-letter: var(--cap-lines);
  margin-inline-end: 0.2em;
}


 /* Social Icons and Contact */
 
 .ncsocial,
 .sharelinks,
 .socialbuttons {
  --icon-size: 1rem;
  --icon-gap: 0.5rem;
  --icon-radius: 50%;
  --icon-scale:scale(1);
  --icon-color: #fff;
  --icon-color-hover: #fff;
  --icon-bg-color: #000;
  --icon-bg-color-hover: #000;
  --icon-border:solid 0.08em transparent;
  --icon-border-hover:solid 0.08em transparent;
}

.ncsocial,
.sharelinks,
.socialbuttons { 
  display:flex;
  flex-wrap:wrap;
  column-gap: var(--icon-gap);
  row-gap: 0.3em;
}

.ncsocial_link,
.sharelinks_anchor,
.socialbuttons_link {
  display:flex;
  width: calc( var(--icon-size) * 2.3 );
  aspect-ratio:1 / 1;
  border-radius:var(--icon-radius);
  justify-content:center;
  align-items:center;
  transition: .3s;
  background-color: var(--icon-bg-color);
  border: var(--icon-border);
  position:relative;
}

.ncsocial_link .ncicon,
.sharelinks_anchor .ncicon,
.socialbuttons_link .ncicon {
  font-size: var(--icon-size);
  color: var(--icon-color); 
}

.ncsocial_link:hover,
.sharelinks_anchor:hover,
.socialbuttons_link:hover { 
  transform:var(--icon-scale); 
  background-color:var(--icon-bg-color-hover);
  border:var(--icon-border-hover);
}

.ncsocial_link:hover .ncicon,
.sharelinks_anchor:hover .ncicon,
.socialbuttons_link:hover .ncicon {
  color: var(--icon-color-hover);
}

/* Brand Colors (support for the following styles) */

.brand-facebook { background-color: var(--facebook); }
.brand-linkedin { background-color: var(--linkedin); }
.brand-twitter { background-color: var(--twitter); }
.brand-reddit { background-color: var(--reddit); }
.brand-pocket { background-color: var(--pocket); }
.brand-youtube { background-color: var(--youtube); }
.brand-rss { background-color: var(--rss); }
.brand-pinterest { background-color: var(--pinterest); }
.brand-instagram { background-color: var(--instagram); }
.brand-tiktok { background-color: var(--tiktok); }

.brand-email,
.brand-link { background-color: #aaa; }

/* Content block spacing */

.wp-block-post-content {

  & > * {
  width: var(--width-limit);
  max-width:var(--width-standard);
  margin-inline:auto;
  }

  & > .alignwide {
    max-width:var(--width-wide);
  }

  & > .alignfull {
    max-width:100%;
    width:100%;
  }
}


/* Links in Content */

.wp-block-post-content,
.wp-block-comment-content {

  :is(p, li) a:not([class]) {
    text-decoration: underline solid 0.08em currentColor;
    text-underline-offset: 0.12em;
    position: relative;
    top: 0px;
  }

  :is(p, li) a:not([class]):active,
  :is(p, li) a:not([class]):focus {
    top: 2px;
  }

  :is(p, li) a:not([class]):hover {
    text-decoration: none;
  }
  
  /* Link and Button Indicator for new window */
  :is(p, li) a[target="_blank"]:not(.wp-block-social-link-anchor):after,
  .wp-block-button__link[target="_blank"]:after {
    content: '\00A0\ea7e'; /* non breaking space and upward right arrow */
    font-family: 'ncicons';
    font-size: 1.5ex;
  }

}

/* Home Page Styles */

body.home {

  /* Header */

  .wp-site-blocks > header:first-of-type {
    position: sticky;
    left:0; top:0;
    width:100%;
    max-width:100%;
    z-index:300;
    margin-bottom: -1px;
    }
    
  @media(max-width:500px){
    #head {
    padding: 1rem !important;
    }
  }
    
  .ncanvas p:not([class]) {
    max-width:600px
  }
  
  /* Hero */

  #hero { a { text-decoration: none } }

  /* Case Studies */

  @media(max-width:640px){
    .cases {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 0;
    }
  }

  /* Accordion Restyling */

  .nccordion_details:not(:last-child) {
    margin-bottom: 0
  }

  .nccordion_header:before {
    right: -0.5rem;
  }

  .nccordion_header {
    padding: 0.75em 2.5em 0.75em 0;
    font-weight: 600;
  }

  .nccordion_details {
    border: none;
  }

  /* Experience */

  #experience {

    .exp-header {
     display: flex;
     opacity: 0.4; 
     padding-left: 0.75rem;
     margin-left:-0.7rem;
    
      strong { 
      font-weight: inherit;
      width: max(60px,10%);
      min-width: max(60px,10%);
      }
    
    }

    .nccordion {
      border-bottom: solid 1px #ccc;
      width: auto;
      margin-inline: -0.7rem;
    }
    
    .nccordion_details {
      transition:0.5s;
      background: #fff;
    }
    
    .nccordion_details[open] > * {
      background: #f2f2f2;
    }
    
    .nccordion_content {
      padding: 0 1rem var(--gap);
      padding-left: calc(0.75rem + max(60px, 9.5%));
    }
    
    .nccordion_header {
      border-top: solid 1px #ccc;
      padding: 1.5rem 2.5rem 1.5rem 0.75rem;
      
        &:before { 
          top: 1.1rem;
          right: 0.3rem
        }

        span:nth-child(1) {
          width: max(60px,10%);
          min-width: max(60px,10%);
          white-space: nowrap;
        }

        span:nth-child(2) {
          white-space:nowrap;
          overflow:hidden;
          text-overflow: ellipsis;
        }

        span:nth-child(2) span {
          font-weight: normal;
          padding-left: 0.3em;
        }
    }
    
  }

  /* Testimonial */

  #testimonial {

    .recommend { 
      max-width: 600px;
      margin-inline: auto; padding:0;
      text-align: center;
      
      &:before {
        position: static;
        font-size: 1.75em;
        margin-bottom: 1rem;
        display: inline-block;
      }
      
      .cite {
        font-style: normal;
        font-size: var(--txt-small);
      }
      
    }

  }
  
  /* Donut Chart */

  .dchart_container {
  
    --ring-space-color: #fff;
    
    --ring-color: #222;
    --ring-bgcolor: #ccc;
    --ring-border-glow: 0 0 0 4cqi #fff;
    --ring-max-size: 175px;
    --ring-weight: 80%;
    --ring-alignment: space-between;
    
    --text-color: #000;
    --text-size: 30cqi;
  
    --label-size: max(11px,33%);
    --label-weight: 800;
  
    --number-weight: 700;
  
    
    max-width: 1100px;
    width: 100%;
    margin-inline: auto;
  
    display: flex;
    justify-content: var(--ring-alignment);
    gap: 1.5rem;
  
    @media (max-width: 460px) {
      & {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: auto;
      }
    }
  }
  
  .dchart {
    width: 100%;
    container-type: inline-size;
  
    @media (max-width: 460px) {
      & {
        width: 100%;
      }
    }
  
    p {
      text-align: center;
      margin: 0.5rem 0 0 0;
    }
  }
  
  .dchart_donut,
  .dchart_content {
    border-radius: 50%;
    aspect-ratio: 1;
    position: relative;
    display: grid;
    place-items: center;
  }
  
  .dchart_donut {
    --deg: 100deg;
    background-image: conic-gradient(
      var(--ring-bgcolor) 36deg var(--deg), 
      var(--ring-color) var(--deg));
    box-shadow: var(--ring-border-glow);
  }
  
  .dchart_content {
    width: var(--ring-weight);
    background: var(--ring-space-color);
    box-shadow: inset var(--ring-border-glow);
    color: var(--text-color);
    font-size: var(--text-size);
  }
  
  .dchart_label {
    text-align: center;
    font-weight: var(--label-weight);
    letter-spacing: 0;
    font-size: var(--label-size);
  }
  
  .dchart_number {
    display: flex;
    align-items: center;
    position:relative;
    font-weight: var(--number-weight);
    line-height: 1;
    letter-spacing: -2px;
  
    span {
      font-size: 0.5em;
      justify-content: center;
    }
  }

  /* Skills */

  #skills {

    .nccordion_header {
      display:block;
    }

    .nccordion_details {
      --number: 90%;
      --num: calc(var(--number) - 10% );
    }

    .nccordion_details:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    
    .nccordion_header:after {
      display: block;
      text-align: right;
      font-size: 0.7em;
      font-weight: normal;
      letter-spacing: 1px;
      line-height: 0.5;
      border-radius: 20px;
      margin-top: 0.5em;
      width: calc(100% + 2.7rem);

      background: linear-gradient(to right, #222 var(--num), #ccc var(--num) 90%, #fff 10%);
    
    }

    .nccordion-1 {
      --number: 95%;
      .nccordion_header:after { content: '95%'; }
    }
    .nccordion-2 {
      --number: 85%;
      .nccordion_header:after { content: '85%'; }
    }
    .nccordion-3 {
      --number: 85%;
      .nccordion_header:after { content: '85%'; }
    }
    .nccordion-4 {
      --number: 75%;
      .nccordion_header:after { content: '75%'; }
    }
    .nccordion-5 {
      --number: 95%;
      .nccordion_header:after { content: '95%'; }
    }
    .nccordion-6 {
      --number: 90%;
      .nccordion_header:after { content: '90%'; }
    }
    .nccordion-7 {
      --number: 65%;
      .nccordion_header:after { content: '65%'; }
    }
    .nccordion-8 {
      --number: 80%;
      .nccordion_header:after { content: '80%'; }
    }
    .nccordion-9 {
      --number: 90%;
      .nccordion_header:after { content: '90%'; }
    }
    
  }

  /* Why Neal */

  #whyneal {

    .splide__slide {
      display:grid;
      place-content:center;
    }

    .splide__content {
      padding:2rem;

      p { 
        max-width:600px;
      }

      li:not(:last-child){
        margin: 0 0 0.5rem 0;
      }

      ul {
        padding-left:1em;
      }

    }

  }

  /* Listings (footer) */

  #listings {

    ul { 
      list-style-type: none; 
      padding:0 0 0 0.7em;
      margin:0;
    }

    li:not(:last-child) {
      margin-bottom: 0.5em;
    }

    li::marker {
      content: '- ';
    }
    
  }

} /* end home */