/*

Need to create a custom blocks for:
- Parts / Banner
- Big Search Drop down
- Custom Mobile Menu
- Social Sharing
- Author social media links
- Archive page number and total number of pages
- Related Content (it's been commented out for now)

*/

/* Search trigger */

#header .ncsearchtrigger {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  align-items: center;
  padding: 0 1em;
}

#header .ncsearchtrigger_icon { height: auto; width: 1.3em; }

/* Mobile Panel */

.mpanel {
  width: 85%;
  padding: 1.5em 0;
  background: #fff;
  z-index: 1000;
  height: 100%;
  bottom: 0;
  overflow-y: auto;
  color: #000;
  font-size: 1em;
  position: absolute;
  transform: translateX(-100%);
  top: 0;
  max-width: 350px;
  min-width: 200px;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  box-shadow: 0 0 0 #000;
}


.mpanel_underlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #000;
  opacity: 0;
  width:100%;
  height:100%;
  visibility: hidden;
  transition:0.5s;
}

/* When the label is clicked, it reveals the mobile panel */

  .mpanel_input:checked + .mpanel {
      transform: translateX(-1px);
      box-shadow: 5px 0 1em rgba(0, 0, 0, 0.3);
      visibility: visible;
  }

  .mpanel_input:checked + .mpanel + .mpanel_underlay {
      opacity: 0.5;
      visibility: visible;
  }


/* Banner Image */

.banner {
 position: relative; 
 background: #000;
 --banner-opacity: 0.6;
}

.banner_content {
  position: relative;
  z-index: 2;
  color: #fff;
  min-height: 350px;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_content > :last-child {
  margin-bottom: 0;
}

.banner_image {
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
  z-index:1;
  left:0; right:0; top:0; bottom:0;
  opacity: var(--banner-opacity);

  /* Animated Fade In*/
  animation: BannerImagefadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

@keyframes BannerImagefadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: var(--banner-opacity);}
}


/* Misc Needed to pass test */

.sticky,
.gallery-caption,
.bypostauthor{
  cursor:inherit;
}

/* Card Listing */

.lcard {
--card-radius: var(--radius);
--card-padding: 1em;
--card-bcolor: #aaa;
--card-bgcolor: #fff;
--card-txtcolor: #000;
--card-direction: column;
--card-img-ratio: 16/9;
--card-img-width: 100%;
--card-transition: 0.4s;

--card-bgcolor-hover: var(--card-bgcolor);
--card-txtcolor-hover: var(--card-txtcolor);
--card-bcolor-hover: #000;
}

.lcard { 
  display:flex;
  flex-direction: var(--card-direction);
  position:relative;
  border:solid 1px var(--card-bcolor);
  border-radius: var(--card-radius);
  background-color: var(--card-bgcolor);
  color: var(--card-txtcolor);
  transition: var(--card-transition);
  transition-property: background-color, color;
  overflow:hidden;
}

.lcard_link {
  position:absolute;
  inset:0;
  display:block;
}

.lcard_imgcon {
  aspect-ratio: var(--card-img-ratio);
  max-width: var(--card-img-width);
  min-width: var(--card-img-width);
  width: 100%;
  overflow: hidden;
  position:relative;
}

.lcard_img {
  position:absolute;
  object-fit:cover;
  inset:0;
  width: 100%;
  height: 100%;
  display:block;
  transform:scale(1);
  transition:var(--card-transition);
}

.lcard_text {
  display:flex;
  gap: 0.5rem;
  flex-grow:1;
  flex-direction:column;
  padding: var(--card-padding);
  min-width: 0; /* This is needed if you use truncated content within a flexbox */
}

/* Meta Styles */

.lcard_title { 
  font-weight:bold; 
  line-height: normal;
}

.lcard_meta { 
  opacity: 0.7; 
}

.lcard_meta, 
.lcard_desc {
  font-size: var(--txt-small);
}

.lcard_readmore { 
  text-decoration: underline;
}

.lcard:hover {
  background-color: var(--card-bgcolor-hover);
  color: var(--card-txtcolor-hover);
  border-color: var(--card-bcolor-hover);

    .lcard_img {
      transform:scale(1.1);
    }

}

.lcard:has( :is(.lcard_link:active, .lcard_link:focus) ) {
  border-color: var(--card-bcolor-hover);
  box-shadow: var(--shadows)
}

.lcard:has( :is(.lcard_link:active, .lcard_link:focus) ) {
  .lcard_img {
    transform:scale(1.1);
  }
}


@media(max-width:768px){
  .lcard {
  --card-direction: column;
  --card-img-ratio: 16/9;
  --card-img-width: 100%;
  }
}

.lcard_box-left .lcard {
--card-direction: row;
--card-img-ratio: 16/9;
--card-img-width: 30%;
}