<!-- wp:template-part {"slug":"header", "className":"header-main"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem","left":"1.5rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:1.5rem;padding-left:1.5rem"><!-- wp:spacer {"height":"47px","className":"spacer-top"} -->
<div style="height:47px" aria-hidden="true" class="wp-block-spacer spacer-top"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Author Archive</h1>
<!-- /wp:heading -->

<!-- wp:html -->
<style>
h1 {  
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
</style>
<!-- /wp:html -->

<!-- wp:post-author {"showBio":true} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"post-listing","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer"} /-->