/* Menu Button */

.mm_button {
  flex-direction:column;
  justify-content:center;
  align-items: center;
  gap: 0.2em;
  cursor: pointer;
  width: 32px;
}

.mm_button .ncicon {
  width: 1.2em;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  position: relative;
  --icon-trans: 0.5s;

  &:before {
    content: "\e907";
    opacity:1;
    visibility: visible;
    transform:scaleY(1);
  }

  &:after {
    content: "\e903";
    opacity: 0;
    visibility: hidden;
    transform:scaleY(0);
  }
}

.mm_button .ncicon:before,
.mm_button .ncicon:after {
  transition: var(--icon-trans);
  position:absolute;
  inset:0;
  display: grid;
  place-items: center;
}

.mm_btnlabel {
  font-size: 0.5em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  left: 1px;
}

/* Change the Hamburger menu icon to a Close icon */
:has(.mm_input:checked) .mm_button .ncicon:before {
  opacity: 0;
  visibility: hidden;
  transform:scaleY(0);
}

:has(.mm_input:checked) .mm_button .ncicon:after {
  opacity:1;
  visibility: visible;
  transform:scaleY(1);
}

:has(.mm_input:checked) body {
  overflow:hidden;
}

/* Menu Close Button (currently hidden) */

.mm_close {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: var(--p-close-display, none);
  place-items: center;
  margin-bottom: 1rem;
}


/* Menu Panel */

.editor-styles-wrapper .mm_panel {
  visibility: visible;
  opacity: 1;
  position: static;
  transform: translateY(0px);
  height: auto;
}

.editor-styles-wrapper .mm_panel,
.editor-styles-wrapper .mm_panel > * {
  box-sizing: border-box;
}

.mm_panel {
  width: var(--p-width, 100%);
  padding: var(--p-padding, 1rem var(--gap) 3rem);
  background: var(--p-bgcolor, #fff);
  z-index: var(--p-zindex, 299);
  height: var(--p-height, auto);
  overflow-y: auto;
  color: var(--p-color, #000);
  position: var(--p-position, absolute);
  top: var(--p-from-top, auto);
  left: var(--p-from-left, 0);
  right: var(--p-from-right, auto);
  transform: var(--p-translate-from, translateY(-50px)scaleY(0));
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  transform-origin: top center;
}

.mm_input:checked + .mm_panel {
  transform: var(--p-translate-to, translateY(0)scaleY(1));
  opacity: 1;
  visibility: visible;
}

/* Menu Panel List */

.mm_panel {

  nav.wp-block-navigation,
  nav.wp-block-navigation *,
  .wp-block-navigation .has-child .wp-block-navigation__submenu-container {
    all:unset;
  }

  .wp-block-page-list {
    list-style: none;
    padding-left: 0;
  }

  .wp-block-pages-list__item__link,
  nav.wp-block-navigation a {
    display: block;
    padding: 0.5rem 0;
    cursor: pointer;
  }


  .wp-block-navigation .has-child > .wp-block-navigation-item__content {
    position: relative;
    display: flex;
    justify-content: space-between;

    &:after {
    content: '\e901';
    font-family: 'ncicons';
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 1em;
    transform: rotate(270deg);
    transition:0.3s;
    font-size: 0.7em;
    }
  }

  nav.wp-block-navigation > .wp-block-navigation__container:first-of-type > li:after {
    content:'';
    display: block;
    height: 1px;
    background: #ccc;
    width:100%;
  }

  /* Sub Menu */

  .wp-block-navigation .has-child .wp-block-navigation__submenu-container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
    max-height: 0;

    & > li {
      display:block;
      width:100%;
    }
  }

 .wp-block-navigation .has-child:hover .wp-block-navigation__submenu-container,
 .wp-block-navigation .has-child.focused .wp-block-navigation__submenu-container  {
    visibility: visible;
    opacity:1;
    overflow:auto;
    max-height: 900px;
  }

  .wp-block-navigation .has-child:hover > .wp-block-navigation-item__content,
  .wp-block-navigation .has-child.focused > .wp-block-navigation-item__content {

    &:after {
      transform: rotate(90deg);
    }
  }

  .wp-block-navigation .has-child .wp-block-navigation__submenu-container > 
  .wp-block-navigation-item > .wp-block-navigation-item__content {
    padding-left: 0.5rem;
  }  

}


/* Menu Overlay (currently set to hidden) */

.mm_underlay {
  display: var(--overlay-display, block);
  position: fixed;
  top: var(--p-underlay-from-top, 90px);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 298;
  background: var(--overlay-color, #000);
  opacity: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: 0.5s;
}

@media (max-width: 782px){
  body.admin-bar {
    .mm_panel{
      height: var(--p-height, auto);
    }

    .mm_underlay {
      display: var(--overlay-display, block);
      position: fixed;
      top: calc( 46px + var(--p-underlay-from-top, 90px));
    }
  }
}

.mm_input:checked + .mm_panel + .mm_underlay {
  opacity: 0.6;
  visibility: visible;
}